@page
@model CarbonFootPrintWebsite.Pages.Shared.CitationsModel
@{
    ViewData["Title"] = "Citations";
}
<div class="navbar_padder" style="margin-top:10rem;"></div>
<div>
    <h4>Videos</h4>
    <p>(&copy;Sustainability Illustrated, <a href="https://www.youtube.com/watch?v=bYb7YLsXvzg">https://www.youtube.com/watch?v=bYb7YLsXvzg</a>, What is a CARBON FOOTPRINT? How to calculate and reduce it? | Climate change)</p>
    <p>(&copy;TEDxAsheville, <a href="https://www.youtube.com/watch?v=63hAHbkzJG4">https://www.youtube.com/watch?v=63hAHbkzJG4</a>, Three Steps to Cut Your Carbon Footprint 60% Today | Jackson Carpenter | TEDxAsheville)</p>
    <h4>Information & Images</h4>
    <p>(&copy;NASA's Jet Propulsion Laboratory, <a href="https://climate.nasa.gov/effects/">https://climate.nasa.gov/effects/</a>, The Effects of Climate Change)</p>
    <p>(&copy;The New York Times, <a href="https://www.nytimes.com/guides/year-of-living-better/how-to-reduce-your-carbon-footprint">https://www.nytimes.com/guides/year-of-living-better/how-to-reduce-your-carbon-footprint</a>, How to Reduce Your Carbon Footprint)</p>
    <p>(&copy;Carbon Footprint Ltd, <a href="https://www.carbonfootprint.com/minimisecfp.html">https://www.carbonfootprint.com/minimisecfp.html</a>, CARBON REDUCTION)</p>

</div>
<div style="margin-bottom:25.2rem;"></div>