@page
@model CarbonFootPrintWebsite.Pages.HelpingModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1 class="navbar_padder">Welcome</h1>
    <!--Section Template-->
    <!--
        <div class="container">
            <h2 class="section_title">Section Title</h2>

            <div>

            </div>
        </div>
    -->
    <!--Section #1-->
    <div id="person">
        <div class="container content">
            <h2 class="section_title">Ways One Person can Help</h2>
            <div class="hr"></div>

            <div class="col-sm-12">
                <p>
                    For an individual person there are several ways to reduce your emissions. One good way is to hang wash
                    instead of using a washing machine. Another good option is to turn down the temperature in your house by
                    a few degrees fahrenheit or one to two degrees celsius. Turning off electrical equipment when you’re not
                    using it such as a TV can also go a long way over time to reducing your emissions. All of these simple
                    options help reduce your carbon footprint by a considerable amount and also can help you save yourself money.
                </p>
            </div>
            <div class="row">
                <img class="col-sm-4 img-fluid" src="~/media/Thinking_Bubble.png" />
                <img class="col-sm-4 img-fluid" src="~/media/Windmill_Drawing.jpg" />
                <img class="col-sm-4 img-fluid" src="~/media/Solar_Panel.png" />
            </div>
        </div>
    </div>
    

    <!--Section #2-->
    <div id="groups">
        <div class="container content">
            <h2 class="section_title">Ways Groups Can Help</h2>
            <div class="hr"></div>

            <div class="col-sm-12">
                <p>
                    A couple of the best ways to reduce carbon footprint is to travel less and to adopt a better diet.
                    When it comes to traveling the big thing is the way you travel and not as much how often you travel.
                    The best way to keep travel efficient is making sure your car is in tip top shape to help your fuel
                    economy healthy and to carpool with others so that they also don't have the issue of adding more carbon
                    dioxide to the atmosphere. Another big addition to greenhouse gasses in the atmosphere is flight; flying often
                    add a lot of carbon dioxide to the atmosphere and decreasing the amount that you travel by flight can go
                    a long way to reducing your carbon footprint.
                </p>
            </div>
            <div class="col-sm-12">
                <img class="img-fluid" src="~/media/Travel.jpg" />
            </div>
        </div>
    </div>
    
    <!--Section #3-->
    <div id="global">
        <div class="container content">
            <h2 class="section_title">What About Globally?</h2>
            <div class="hr"></div>

            <div class="col-sm-12">
                <p>
                    In order to change the Earth for the better on a global scale most of the people on the planet would have to start
                    using the suggestions we've given or governments would have to put restrictions on companies or people in regards
                    to their carbon dioxide emissions. Even one person reducing their emissions can increase the longevity of the planet
                    to help it last longer for the future generations.
                </p>
            </div>
            <div class="col-sm-12">
                <img class="img-fluid" src="~/media/Global_Foot.jpg"/>
            </div>
        </div>
    </div>
</div>
