@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    <h1 class="navbar_padder">Welcome</h1>
    <!--Section Template-->
    <!--
        <div class="container">
            <h2 class="section_title">Section Title</h2>

            <div>

            </div>
        </div>
    -->
    <!--Section #1-->
    <div class="container">
        <h2 class="section_title">What Is Your Carbon Footprint?</h2>

        <div>
            <p>
                A carbon footprint is the amount of carbon dioxide a particular person or group put into the atmosphere as a result of
                their actions. Each person's average carbon footprint is about 16 tons if they live in the United States which is one of
                the highest world wide rates. Carbon footprint is bad because it is the main proponent of climate change caused by humans.
            </p>
        </div>
    </div>

    <!--Section #2-->
    <div class="container">
        <h2 class="section_title">What Are Greenhouse Gases?</h2>

        <div>

        </div>
    </div>

    <!--Section #3-->
    <div class="container">
        <h2 class="section_title">Section Title</h2>

        <div>

        </div>
    </div>
</div>
    