@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <h1>Welcome</h1>
    <!--Section Template.......................................................................,,,,,,,,,,,,,,,,,,,,.,.,.,.,.,.,,..,,..,,..,,,,,,-->
    <div class="container">
        <h2 class="section_title">Section Title</h2>

        <div>

        </div>
    </div>
    
</div>