@page
@model CarbonFootPrintWebsite.Pages.Video1Model
@{
    ViewData["Title"] = "Intro To Climate Change";
}
<div class="navbar_padder" style="margin-top:10rem;"></div>
<div>
    <iframe width="950" height="534" src="https://www.youtube.com/embed/bYb7YLsXvzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>