<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarbonFootPrintWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/469e185b0f.js"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Kumbh
      Sans:wght@400;700&display=swap" rel='stylesheet'>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top custom_nav">
            <div class="container-fluid">
                <a class="nav-color" asp-area="" asp-page="/Index"><img src="~/media/carblogo.png" height="50px" class="logo-bg">CarbonPrints</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--justify-content-end-->
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <!--text-center on the <ul> tag makes the links centered when the button is toggled-->
                    <ul class="navbar-nav text-center">
                        <li class="nav-item dropdown nav-color">
                            <a class="nav-link dropdown-toggle nav-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Welcome
                            </a>
                            <ul class="dropdown-menu custom_nav" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item nav-color" asp-area=""  asp-page="/Index"asp-fragment="what">What Is Your Carbon Footprint?</a></li>
                                <li><a class="dropdown-item nav-color" asp-area=""  asp-page="/Index"asp-fragment="climate">Climate Change</a></li>
                                <li><a class="dropdown-item nav-color" asp-area=""  asp-page="/Index"asp-fragment="reduce">Reducing your footprint</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown nav-color">
                            <a class="nav-link dropdown-toggle nav-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ways To Help
                            </a>
                            <ul class="dropdown-menu custom_nav" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item nav-color" href="#">Action</a></li>
                                <li><a class="dropdown-item nav-color" href="#">Another action</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item nav-color" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


    </header>
    <div class="container text-center">
        @RenderBody()

    </div>

    <div id="footer">
        <div class="container">
            <div class="footer_links">
                
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <a class="footer-color" href="../HTML/landing.html"><img src="~/media/carblogo.png" width="50px" class="logo logo-bg">CarbonPrints</a>
                </div>
                <div class="col-lg-6 col-xs-12 text-end">
                    <a class="social_icon"
                       href="https://www.facebook.com/efcts"
                       target="_blank"
                       aria-label="Facebook">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="social_icon"
                       href="https://www.instagram.com/efctspix"
                       target="_blank"
                       aria-label="Instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a class="social_icon"
                       href="https://www.youtube.com/c/EFCTS"
                       target="_blank"
                       aria-label="Youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a class="social_icon"
                       href="twitter.com/EFCTS"
                       target="_blank"
                       aria-label="Twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a class="social_icon"
                       href="https://www.linkedin.com/school/efcts"
                       target="_blank"
                       aria-label="LinkedIn">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
